# Same as defaults except master -> main
branches:
- +([0-9])?(.{+([0-9]),x}).x
- main
- next
- next-major
- name: beta
  prerelease: true
- name: alpha
  prerelease: true

plugins:
- - '@semantic-release/changelog'
  - changelogTitle: '# Changelog'
- '@semantic-release/npm'
- - '@semantic-release/git'
  - assets:
    - package.json
    - CHANGELOG.md
- '@semantic-release/github'
- '@semantic-release/release-notes-generator'
